.people {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #2F4F4F;

  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-template-rows: repeat(5, 231px);
  grid-column-gap: 30px;
  grid-row-gap: 40px;

  justify-items: center;
  justify-content: center;

  padding: 30px 15% 0;
}

@media screen and (max-width: 1000px) {
  .people {
    padding: 30px 0 0;
  }
}

@media screen and (max-width: 750px) {
  .people {
    padding: 30px 100px 0;
  }
}

@media screen and (max-width: 500px) {
  .people {
    padding: 30px 0 0;
  }
}
