$rank_hight: 32px;

.person {
  width: 220px;
  position: relative;
  transition: 1s;

  &__look {
    position: relative;
    align-items: center;
    padding: 10px 10px 0;

    &_photo {
      width: 100%;
      border-radius: 50%;
      transition: 1s;
    }

    &_rank {
      position: absolute;
      width: 32px;
      height: $rank_hight;
      border-radius: 50%;
      background-color: white;
      top: calc(50% - 16px);
      right: 20px;
      color: #8B0000;
      font-size: 16px;
      line-height: 18px;
      line-height: $rank_hight;
      transition: 2s;
    }
  }

  &__details {
    font-size: 20px;
    margin: 4px auto 19.2px;

    &_name {
      font-size: 20px;
      line-height: 23px;
      font-weight: bold;
    }

    &_info {
      display: none;
      transition: 1s;

      &_sport {
        font-size: 18px;
        line-height: 21px;
        vertical-align: top;
        transition: 1s;
        transition: 1s;
      }
    }
  }
}